<footer class="text-center mb-3 text-muted">
  <small>Projeto Programação II — Loja de montagem e reparação de PCs</small>
</footer>

<!-- Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>