<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>HalfByte</title>

  <!-- Fonte Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <!-- CSS do projeto -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
